a{
    color: white;
  }

#date{
    background-color: rgb(186,78,58);
    border: 1px;
    border-radius: 10px;
    padding:8px 25px 8px 25px;
    font-family: 'SF UI Display Thin';
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin: auto;
  }
  
  td, th {
    text-align: left;
    padding: 10px;
  }

#title{
    background-color: rgb(30,20,36);
    border: 1px;
    border-radius: 10px;
    padding:8px 15px 8px 15px;
    font-family: 'SF UI Display Thin';
}


#advisory{
    background-color: rgb(67,34,41);
    /* padding:8px 15px 8px 15px; */
    font-family: 'SF UI Display Thin';
    border-spacing: 10px 15px;
    font-size: 20px;
}


#notifications {
    border-collapse: separate;
    border-spacing: 10px 15px;
    font-size: 20px;
}


.mat-tab-label {
    width: 100%;
    padding: 5px;
    background-color:  rgb(30,20,36);
    color:white;
    font-size: 24px;
    letter-spacing: 0.5px;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    /* min-width: 25px !important; */
    width:100%;
    padding: 5px;
    background-color:rgb(14, 56, 90);
    color: white;
    font-size: 24px;
    letter-spacing: 0.5px;
}
.mat-ink-bar {
    background-color: green;
}