<div style="width: 100%; display: inline-block">
  <div class="row">
    <h1
      class="col-12"
      style="margin-top: 20px; font-family: SF Pro Display Regular"
    >
      Notifications and Advisories
    </h1>
  </div>

  <div class="row mt-4" style="width: 100%; display: block">
    <mat-tab-group>
      <mat-tab label="Notifications">
        <div class="row">
          <div class="col-12">
            <table id="notifications">
              <tr *ngFor="let note of notifications">
                <td id="date" style="font-family: SF Pro Display Regular">
                  {{ note.date }}
                </td>
                <td id="title">
                  <a
                    style="font-family: SF Pro Display Regular"
                    href="{{ note.link }}"
                    >{{ note.title }}</a
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Advisories">
        <div class="row">
          <div class="col-12">
            <table  style="border-collapse: collapse;width: 100%">
              <tr id="advisory" *ngFor="let note of advisories"  style="width: 100%; border: 10px solid rgb(18,14,34); border-radius: 10px;">
                <td style="width: 100%">
                  <a
                    style="font-family: SF Pro Display Regular"
                    href="{{ note.link }}"
                    >{{ note.title }}</a
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
