#divChart{
    display: block;
    width:400px;
    height: 400px;
}

.search-form-field{
    padding-left: 20px;
    padding-right: 20px;
    /* min-width: 400px; */
    width: 100%;
    background-color: rgb(167, 42, 83);
  }
  
.mat-select-red .mat-select-value{
    color: white !important;
    font-size: 25px;
  }

  
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(167, 42, 83);
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }