.navbar {  
    height: 80px;
}

.navbar-nav li {
    padding-right : 2rem;
}

.active a {
    border-bottom: 2px solid white;
}


a{
    color: white
}

/* #helpline{
    background-color: rgb(26,19,46);
    border: 1px;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    font-family: 'SF UI Display Light';
}
#advisory{
    background-color: rgb(67,34,41);
    border: 1px;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    font-family: 'SF UI Display Light';
}

#hospital{
    background-color: rgb(18,119,125);
    border: 1px;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    font-family: 'SF UI Display Light';
} */