<!-- <p class="navbar navbar-expand-md fixed-top" style="height:60px; background-color: aqua;">navbar works!</p> -->

<nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(18,14,34);">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/helpline">Helpline</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/advisory">Notifications & Advisory</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/hospital">Hospital</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/graph">Statistics</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" routerLinkActive="active" >
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" class="nav-link" href="/" placeholeder="INDIA" style="height:60px; width: auto;">
      </li>
    </ul>
  </div>
</nav>
